* {
	font-family: "questa";
	font-size: 20px;
}

.left label {
	margin-right: 30px;
}

.time {
	padding-right: 0.5em;
}

.spacing {
	font-size: 24px;
	padding: 10px;
}

.window-button {
	box-shadow: none;
	border: 1px solid black;
	border-radius: 0;
}

.window-button:nth-child(odd) {
	background: #ffd9da;
}

.window-button:nth-child(even) {
	background: #c7d9b7;
}

.right label {
	margin-left: 3px;
	margin-right: 3px;
}

.right > *:nth-child(odd) {
	background: #ffd9da;
}

.right > *:nth-child(even) {
	background: #c7d9b7;
}

.right > * {
	border-left: 1px solid black;
}

.systray > * > image {
	padding-left: 5px;
	padding-right: 5px;
}

.shutdown-modal {
	background: transparent;
}

.shutdown {
	border: 1px solid transparent;
	border-radius: 0;
	background: black;
	color: white;
}

.shutdown:hover {
	background: red;
}

.shutdown-box:focus {
	background: #c7d9b7;
}

.shutdown-box:hover {
	background: #89023e;
	color: white;
}

.shutdown-box {
	font-size: 3em;
	background: #ffd9da;
}
